[project]
	description = Implementation of Ripple effect from Material Design for Android API 9+
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/loveuph114
[access "refs/for/refs/*"]
	read = group user/loveuph114
	push = group user/loveuph114
	label-Code-Review = -2..+2 group user/loveuph114
	label-Verified = -1..+1 group user/loveuph114
	rebase = group user/loveuph114
	removeReviewer = group user/loveuph114
	submit = group user/loveuph114
[access "refs/heads/*"]
	read = group user/loveuph114
	create = group user/loveuph114
	push = +force group user/loveuph114
	pushMerge = group user/loveuph114
[access "refs/tags/*"]
	push = +force group user/loveuph114
	pushTag = group user/loveuph114
	pushSignedTag = group user/loveuph114
